.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  background-color: #fbd9ad;
  color: #b061df;
  border: 1px solid #b061df;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-btn:hover {
  background-color: #b061df;
  color: #fbd9ad;
}

.pagination-btn.active {
  background-color: #b061df;
  color: #fff;
}